---
import { PokemonCard } from "@components/index/PokemonCard";
import { BASE_API_URL } from "src/constants/config";
import type { Pokemon } from "src/types/types";

export const prerender = false

const { name } = Astro.params

const res = await fetch(`${BASE_API_URL}/egg-group/${name}`)
const pokemons: Pokemon[] = await res.json()
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Egg Group - {name}</title>
    </head>
    <body>
        <h1 class="egg-group-page-title">Pokemons who belongs to egg group 
            <span 
                class="egg-group-page-title-span"
                >{name}
            </span>
        </h1>
        <hr />
        <section>
            { pokemons?.length > 0 &&
                pokemons.map((pokemon) => (
                    <PokemonCard client:load pokemon={pokemon} />
                ))
            }
        </section>
    </body>
<html />

<style>
    .egg-group-page-title {
        font-size: 15px;
        font-family: system-ui;
        color: #596568;
        font-weight: 400;
        text-align: center;
    }

    .egg-group-page-title-span {
        font-weight: 500;
        text-transform: capitalize;
    }
</style>

